@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/*-----------------------------Colours*/

.custom-navbar{
    background-color: rgb(255, 111, 60);
}

.navbar-toggler-color{
    background-color: #f8f9fa;
}

.navbar-toggler-icon{
    background-color: #d35400;
}

/*-----------------------------Colours*/

/*-----------------------------Header*/

.navbar-logo{
    height: 50px;
    width: auto;
    opacity: 0.9;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    box-shadow: 0px 2px 8px rgba(248, 249, 250, 0.5);
    border-radius: 30px;
}

.navbar-logo:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 16px rgba(51, 51, 51, 0.8);
    opacity: 1;
}

.hero-section {
    position: relative;
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/52/00/22/1000_F_452002223_gktaY844n8rShiJI1TZh0ltoMgvUZkgn.jpg');
    background-size: cover;    /* Ensures the image covers the entire hero section */
    background-position: center center;  /* Centers the background image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    color: #fff;  /* Ensures the text is readable */
    height: 100vh;
    display: flex; /* Keep Flexbox enabled */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */

}

.overlay{
    position: absolute; /* Position overlay on top of the hero section */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Ensure overlay is above the background but below text */
}

.container-fluid{
    position: relative; /* Ensure text is above the overlay */
    z-index: 2; /* Make sure the text is above the overlay */
}

.hero-title{
    font-family: Montserrat, sans-serif;
}

.hero-text{
    font-family: Montserrat, sans-serif;
}

.hero-button {
    background-color: #d35400; /* Set default background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.hero-button:hover {
    background-color: #d35400; /* Keep the same background color on hover */
    color: white; /* Ensure text color remains white */
    text-decoration: none; /* Remove underline on hover */
    transform:scale(1.1);
    box-shadow: 0px 6px 16px rgba(51, 51, 51, 0.8);

}



/*-----------------------------Header*/

/*-----------------------------Body*/



.info-h1{
    text-decoration: underline;
    font-family: montserrat, sans-serif;
    color: #ff6f3c;
    margin-top: 50px;
    text-align: center;
}

#p-1{
    font-family: roboto,sans-serif;
    color: #333;
    text-align: center;
    line-height: 2.0;
}

.href-nhs{
    text-decoration: none;
    color: #ff6f3c;
    font-family: roboto, sans-serif;
    display: block;
    text-align: center;
}

.href-nhs-2{
    text-decoration: none;
    color: #ff6f3c;
    font-family: roboto, sans-serif;
    display:block;
    text-align: center;
}

.info-h1-2{
    text-align: center;
    text-decoration: underline;
    font-family: montserrat, sans-serif;
    color: #ff6f3c;
    margin-top: 50px;
}

#txt-aln-end{
    font-family: roboto,sans-serif;
    color: #333;
    text-align: center;
    line-height: 2.0;
}

.container-o {
    display: flex;
    justify-content: center; /* Horizontally centers the box */
    align-items: center; /* Vertically centers the box */
    height: 10rem; /* Make the container take up the full viewport height */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* Style the centered box */
  .orange-box {
    width: 70%; /* Set the width of the box to 70% */
    background-color: #ff6f3c; /* Example background color */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center the text */
    height: 100%;
  }

/*-----------------------------Body*/




@media (max-width: 768px) {
    .orange-box {
      width: auto; /* Reset width to auto */
      flex-grow: 1; /* Allow it to grow and take up available space */
      max-width: 95%; /* Set a maximum width of 95% */
    }
  }


